<h>These are the Lesson 1 Labs</h>
<b><p style = "text-align: center;">Syntax</b></p> 
    
    <p style = "text-align: center;"> I learned what syntax is, how to use parentheses, 
     curly braces and semicolons.</p>
    <script src="https://gist.github.com/SamaraGoldsworthy/a667622f0f6e2b21f42b50558a6c8ddf.js"></script>
  
    <b><p style = "text-align: center;">Placeholder</b></p>
    <p style = "text-align: center;">Next I learned how to use placeholders. How to use printf, and special characters such
    as /n.</p>
    <script src="https://gist.github.com/SamaraGoldsworthy/80b39ad15ec53e9c56d55421c624952e.js"></script>


    <b><p style = "text-align: center;">Terminal</b></p>

    <p style = "text-align: center;"> I learned how to use the command-line interface
and the commands involved in the terminal to navigate the workspace. I also learned how to
create, move and rename folders and files.</p>



   <b><p style = "text-align: center;">Data Types</b></p>
  <p style = "text-align: center;">In this lab, I learned about the common data types used in CS50
 and the data input functions for different data types.</p>
<script src="https://gist.github.com/SamaraGoldsworthy/d52f83f1fc881eb4c39837ae502fd084.js"></script>
  
<b><p style = "text-align: center;">Variables </b></p>
<p style = "text-align: center;">In this lab I learned the difference between variables in math
and CS, assigning a value to, creating and naming and getting user input for a variable. </p>
<script src="https://gist.github.com/SamaraGoldsworthy/09fb44c8e2405b60c3b04e69f70b1188.js"></script>

<b><p style = "text-align: center;">Operators </b></p>
<p style = "text-align: center;">In this lab I learned how math operators work in C, 
how and when to use the remainder operator, and the different ways of using assignment operators.</p>
  <script src="https://gist.github.com/SamaraGoldsworthy/e7d628dd205a678e52657d656caa19bf.js"></script>

<b><p style = "text-align: center;">Booleans (Expressions/Conditionals) </b></p>
<p style = "text-align: center;">In this lab I learned how to use Boolean expressions in C, why and how to combine Boolean operators
and why conditional statements are so important.</p>
<script src="https://gist.github.com/SamaraGoldsworthy/a7699ea867c5633e56f159acd3f8811c.js"></script>

<b><p style = "text-align: center;">While Loops </b></p>
<p style = "text-align: center;">In this lab I learned what a while loop is, 
  and how and when to use them.</p>
<script src="https://gist.github.com/SamaraGoldsworthy/cb299480d490a5ba83c4d779eeebfdc3.js"></script>

<b><p style = "text-align: center;">Do While Loops </b></p>
<p style = "text-align: center;">In this lab I learned what the difference between 
  a do while and while loop is, and how and when to use them.</p>
<script src="https://gist.github.com/SamaraGoldsworthy/3f748d481e1994aee4e1696b25fa7f08.js"></script>

<b><p style = "text-align: center;">For Loops </b></p>
<p style = "text-align: center;">In this lab I learned why we have a for loop
and how to use a for loop.</p>
<script src="https://gist.github.com/SamaraGoldsworthy/37c4bf04dd94131a0624f96e2bf70479.js"></script>

<b><p style = "text-align: center;">Magic Numbers </b></p>
<p style = "text-align: center;">In this lab I learned what is meant by magic numbers
and why magic numbers are considered poor design.</p>
<script src="https://gist.github.com/SamaraGoldsworthy/e87f10fa5e76d617693291d6c54c2f3a.js"></script>